.share{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 140px;
    height: 140px;
  }
  .share ul{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .share ul li{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    background: #ccc;
    transition: .5s;
    overflow: hidden;
    transform: scale(0.95);
    border-radius: 100%;
  }
  .share ul li a{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: #262626;
    transition: .5s;
  }
  .share ul li a .fab{
    transform: rotate(45deg);
  }
  .share ul li a:hover{
    color: #ccc;
    background: #2196f3;
    transform: rotate(0deg);
  }
  .share ul.active li{
    transform: scale(0.95);
  }
  .share ul.active li:nth-child(1){
    top: -100%;
    left: -100%;
    transition-delay: 0s;
  }
  .share ul.active li:nth-child(2){
    top: -100%;
    left: 0%; 
    transition-delay: 0.2s;
  }
  .share ul.active li:nth-child(3){
    top: -100%;
    left: 100%;
    transition-delay: 0.4s;
  }
  .share ul.active li:nth-child(4){
    top: 0%;
    left: 100%;
    transition-delay: 0.6s;
  }
  .share ul.active li:nth-child(5){
    top: 100%;
    left: 100%;
    transition-delay: 0.8s;
  }
  .share ul.active li:nth-child(6){
    top: 100%;
    left: 0%;
    transition-delay: 1s;
  }
  .share ul.active li:nth-child(7){
    top: 100%;
    left: -100%;
    transition-delay: 1.2s;
  }
  .share ul.active li:nth-child(8){
    top: 0%;
    left: -100%;
    transition-delay: 1.4s;
  }
  .toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e91e63;
    overflow: hidden;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
  }
  .toggle:before{
    
    font-family: fontAwesome;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #ccc;
    font-size:40px;
    transform: rotate(-45deg);
  }
  .toggle.active:before{
    
    font-family: fontAwesome;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #ccc;
    font-size:60px;
  }