.menu{
    margin-bottom: 30px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 20px;
}

.naslov{
    color: #ccc;
    font-size: 80px;
    font-family: 'Kaushan Script',cursive;
}

.kontakt{
    color: #ccc;
    font-size: 25px;
    transition: 1s all ease;
}

