ul{
    position: relative;
    align-self: center;
    transform: translate(0%,0%);
    display: flex;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
ul li a{
    position: relative;
    display: flex;
    padding: 10px 15px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ccc;
    transition: .5s;
}
ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 2px;
    background: #ccc;
    transform: scaleX(0);
    z-index: -1;
    transform-origin: right;
    transition: transform .5s;
}
ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left
}
ul li a:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 100%;
    height: 2px;
    background: #ccc;
    transform: scaleX(0);
    z-index: -1;
    transform-origin: left;
    transition: transform .5s;
}
ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: right
}

.btn {
    font-family: Verdana;
    margin: 30px 0px;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}
   