ul{
	margin: 0;
	padding: 0;
	display: flex;
}
ul li{
	list-style: none;
	margin: 10px 10px;
}
ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-decoration: none;
    font-size: 50px;
    padding: 10px;
	color: #ccc;
	transition: .5s;
}



ul li:nth-child(1) a:hover{
	background: #3b5999;
}

ul li:nth-child(2) a:hover{
	background: #e4405f;
}

.slika{
    border-radius: 100%;
    height: 18vw;
    width: 18vw;
    margin-bottom: 15px;
}

.tekst-oMeni{
color: #ccc;
text-align: center;
font-size: 22px;
transition: 1s all ease;
}